
/* Body */

body {
	background-color: FloralWhite;
}


/* Address */

address {
	color:DimGray; 
	text-align: center;
}


/* Paragraph */

p {
	color:DarkSlateGray;
}

#pDIM{
	color:DimGray;
}

p.error{
	color: Red;
}

#cp{
	text-align: center;
}


/* Headers */

#ch1{
	text-align: center;
}


/* Div */





/* Container */


#Bisque35{
	background-color: Bisque;
	width: 35%;
}

#Bisque60{
	background-color: Bisque;
	width: 60%;
}


/* Links */

a:link {
}

a:visited {
}

a:hover {
}

a:active {
}


.cardButton {
	background-color: FloralWhite;
}